@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@media only screen and (max-width: 900px) {
  body {
    font-family: 'Roboto', sans-serif;
  }
  .content {
    padding: 15px;
    max-width: 375px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    border: 1px solid black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: "logo logo . . drop-top drop-top drop-top btn btn btn btn btn" "search search search search search search search search search btn-s btn-s btn-s" "location location location location location location access access access access access access" "new-sites new-sites new-sites new-sites new-sites all-sites all-sites all-sites all-sites . . ." "line line line line line line line line line line line line" "m-image m-image m-image m-image m-image m-image m-image m-image m-image m-image m-image m-image ";
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo;
  }
  .drop-top {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: drop-top;
  }
  .btn {
    -ms-grid-row: 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-area: btn;
    justify-items: end;
  }
  .search {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-area: search;
    width: 100%;
    position: relative;
    padding-left: 10px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    padding-left: 20px;
  }
  .btn-s {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-area: btn-s;
    height: 50px;
  }
  .location {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: location;
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
            box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
  }
  .access {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-area: access;
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
            box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
  }
  .new-sites {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: new-sites;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #333333;
    padding-bottom: 20px;
    text-decoration: none;
  }
  .new-sites:hover {
    padding-bottom: 16px;
    border-bottom: 4px solid #4385DC;
    color: #426088;
  }
  .all-sites {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-area: all-sites;
    font-size: 19px;
    font-weight: bold;
    line-height: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    text-decoration: none;
  }
  .all-sites:hover {
    padding-bottom: 16px;
    border-bottom: 4px solid #4385DC;
    color: #4385DC;
  }
  .sel {
    width: 100%;
    height: 27px;
    border: 1px solid #DFDFDF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
            box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
  }
  .btn_add {
    width: 100%;
    height: 29px;
    background: #4385DC;
    border: 1px solid #4E79B3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
  }
  .btn-s {
    width: 100%;
    height: 38px;
    background: #4385DC;
    border: 1px solid #4E79B3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
  }
  .line {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: line;
    border-top: 1px solid rgba(229, 229, 229, 0.5);
    width: 100%;
    margin-top: -22px;
  }
  .main_content {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: m-image;
  }
  .main_content .border {
    -webkit-box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
            box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
    border-radius: 3px;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 25px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .main_content .right-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
    width: 100%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_content .right-left .site-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }
  .main_content .right-left .online {
    font-size: 18px;
    line-height: 16px;
    color: #27AE60;
    font-weight: bold;
  }
  .main_content img {
    margin: 0 auto;
    max-width: 100%;
    max-height: auto;
  }
  .main_content .padding {
    margin: 0 auto;
    width: calc(100% - 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main_content a {
    text-decoration: none;
    margin-top: 12px;
  }
  .main_content .tags {
    font-size: 12px;
    line-height: 18px;
    color: #193961;
    display: block;
    width: 100%;
    margin-top: 11px;
  }
  .main_content p {
    font-size: 14px;
    line-height: 23px;
    color: #4F4F4F;
  }
  .main_content hr {
    border-top: 1px solid #E0E0E0;
    width: 100%;
  }
  .main_content .access_set {
    font-size: 12px;
    line-height: 18px;
    color: #828282;
  }
  .main_content .block {
    width: 100%;
    margin-bottom: 11px;
  }
  .main_content .block b {
    margin-right: 20px;
  }
  .main_content .local {
    font-size: 12px;
    line-height: 18px;
    color: #828282;
    width: 100%;
  }
  .copy {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .copy > a {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 14px;
  }
  .copy p {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 900px) {
  .content {
    display: none;
  }
  .content_full {
    width: 100%;
    height: 67px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
            box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
  }
  .justify {
    margin: 0 auto;
    padding-top: 25px;
    width: 1100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 15px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "full_logo full_logo full_logo . . . . . . full_lang add_full add_full" "full_search full_search full_search full_search full_search full_search full_search loc loc full_acc full_acc search-btn " "new_full new_full all_full all_full . . . . . . . ." "line line line line line line line line line line line line" "main_full main_full main_full main_full main_full main_full main_full main_full main_full main_full main_full main_full";
  }
  .full_logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: full_logo;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .full_logo h2 {
    margin-top: 0px;
    margin-left: 12px;
  }
  .full_lang {
    -ms-grid-row: 1;
    -ms-grid-column: 10;
    grid-area: full_lang;
    width: 100%;
    border-radius: 3px;
    height: 38px;
    border: 1px solid #DBDBDB;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
            box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
  }
  .add_full {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-area: add_full;
    width: 100%;
    height: 38px;
    background: #4385DC;
    border: 1px solid #4E79B3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    color: white;
    font-weight: bold;
  }
  .full_search {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-area: full_search;
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
  }
  .loc {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
    -ms-grid-column-span: 2;
    grid-area: loc;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
            box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
    width: 100%;
  }
  .full_acc {
    -ms-grid-row: 2;
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
    grid-area: full_acc;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
            box-shadow: inset 0px 0px 10px rgba(196, 196, 196, 0.15);
    border-radius: 3px;
  }
  .search-btn {
    -ms-grid-row: 2;
    -ms-grid-column: 12;
    grid-area: search-btn;
    width: 100%;
    height: 38px;
    background: #4385DC;
    border: 1px solid #4E79B3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    color: #FCFCFC;
    font-weight: bold;
  }
  .new_full {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: new_full;
    font-size: 19px;
    line-height: 16px;
    color: #333333;
    margin-top: 39px;
    text-decoration: none;
    font-weight: bold;
    width: 120px;
    padding-bottom: 20px;
  }
  .new_full:hover {
    padding-bottom: 17px;
    border-bottom: 3px solid #4385DC;
    color: #4385DC;
  }
  .all_full {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: all_full;
    font-size: 19px;
    line-height: 16px;
    margin-top: 39px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    width: 95px;
    padding-bottom: 20px;
  }
  .all_full:hover {
    padding-bottom: 17px;
    border-bottom: 3px solid #4385DC;
    color: #4385DC;
  }
  .line {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: line;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #E0E0E0;
    margin-top: -17px;
  }
  .main_full {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: main_full;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main_full .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 276px;
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
            box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
    border-radius: 3px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px;
  }
  .main_full .container .info {
    width: 621px;
    margin-top: -30px;
    margin-left: 50px;
    height: 276px;
  }
  .main_full .container .info .left_right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: bold;
  }
  .main_full .container .info .left_right p {
    font-size: 18px;
  }
  .main_full .container .info .left_right a {
    color: #4385DC;
    text-decoration: none;
    font-weight: normal;
  }
  .main_full .container .info .left_right p:nth-child(2) {
    color: green;
    font-weight: normal;
  }
  .main_full .container .info .tags {
    font-size: 12px;
    line-height: 18px;
    color: #193961;
    margin-top: -20px;
  }
  .main_full .container .info p {
    font-size: 14px;
    color: #4F4F4F;
  }
  .main_full .container .info a {
    color: #005DE8;
    text-decoration: none;
  }
  .main_full .container .info p:nth-child(3) {
    margin-top: -10px;
  }
  .main_full .container .info .another_color {
    font-size: 12px;
    line-height: 18px;
    color: #828282;
    width: 100%;
  }
  .main_full .container .info div {
    width: 100%;
    margin-bottom: 10px;
  }
  .points {
    margin: 0 auto;
    font-weight: bold;
    font-size: 29px;
  }
  footer {
    width: 100%;
    background: #FFFFFF;
    height: 67px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
            box-shadow: 0px 0px 5px rgba(125, 125, 125, 0.1);
  }
  footer .left_right {
    display: block;
    width: 1100px;
    margin: 0 auto;
  }
  footer .left_right p {
    float: right;
  }
  footer .left_right a {
    margin-top: 100px;
    margin-right: 20px;
    text-decoration: none;
    color: #4385DC;
  }
}
/*# sourceMappingURL=style.css.map */